# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/

# testing
coverage/

# misc
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env.*
!.env.example

# vercel
.vercel

# tmp
tmp/

*storybook.log
storybook-static
